

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 1rem;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

@media (min-width: 768px) {
    body {
        font-size: 1.25rem;
    }
}
.sr-only:not(:focus):not(:active),
.sr-skip-link:not(:focus),
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

:focus:not(:focus-visible) {
    outline: 0;
}

:focus-visible {
    outline: 2px solid inherit;
}
ul,
ol {
    padding-left: 0;
    margin: 0;
}
ul li, 
ol li {
    list-style-type: none; /* remove bullets */
}


a:link {

}
a:visited {

}
a:hover {

}
a:active {
    
}

/* 
*
* link hover effects 
*
* slidein effect example:
*      <a class="slidein class2 class3">link hover effect</a>
*/
.slidein:hover::after {
    width: 100%;
}
.slidein::after {
    content: "";
    display: block;
    height: 0.1875rem;
    width: 0%;
    background: #27CBC9;
    transition: .3s;
}



.container,
.wrapper {
    padding: 0 1.33rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 75rem;
}
.article-container {
    width: 100%;
    max-width: 75ch;
    padding: 0 1.33rem;
    margin-left: auto;
    margin-right: auto;
}
/* 
    HEADER
*/
.site-header {
    position: relative;

}
.site-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1.8rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 2400px
}
/* 
    NAVIGATION
*/
.nav-list,
.site-nav__list {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    padding-left: 0;
    list-style: none;
    text-transform: lowercase;
    font-weight: 700;
}
.site-nav__list > li + li {
    margin-left: 1.5em;
}
.site-nav__item {
    margin-top: 0;
}
.site-nav__item > a {
    display: block;
    padding: 0.5em;

}
.site-nav__item > a:hover,
.site-nav__item.active a,
[aria-current="page"] {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: red;
    text-decoration-thickness: 3px;
}
